doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/index.css")
    link(rel="stylesheet" href="/css/loading.css")
    link(rel="stylesheet" href="/css/edit-ticket.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200|Roboto")
    script(src="/js/edit-ticket.js")
    script(src="https://kit.fontawesome.com/7d40b20961.js")
  body
    span#test-span
    .container
      form(method="POST")
        #netid-entry 
          | My NetID is
          | 
          input#netid-field(oninput="calcWidth(this)" type="text" name="netid" placeholder="abc1234")
        #ticket-details
          | Make ticket number
          | 
          input#ticket-id-field(type="text" placeholder="888888" oninput="calcWidth(this)")
          | 
          | submitted via
          | 
          #submission-tracking-display(onclick="toggleMenu()")
            span#submission-tracking-display-text Chat
            | 
            span.fas.fa-caret-down#submission-tracking-display-arrow
            #submission-tracking-options
              span#st-email(onclick="makeSelection(this)") Walk-In
              span#st-email(onclick="makeSelection(this)") Chat
              span#st-email(onclick="makeSelection(this)") Agent
        #submit-button-container
          button#submit-button(type="button" disabled onclick="submitEdit()") Go