html
  head
    meta(charset="UTF-8")
    title TSC Server
    link(rel="stylesheet" href="/index.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:200|Roboto" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div(class="container")
      h1(class="title") There #{verb} currently #{num_tickets} ticket#{plural} in the queue.
