doctype html
html
  head
    meta(charset='UTF-8')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200|Roboto")
    link(rel="stylesheet" href="/css/fonts.css")
    link(rel="stylesheet" href="/css/schedule.css")
    script(src="/js/schedule.js")
    title Tier 1 Schedule
  body
    .container
        .top
            | Supervisor
            span#supervisor
                if people["1800 Supervisor"].length === 0
                    | -
                else
                    = people["1800 Supervisor"][0]
        .bottom
            .l
                | 1800 Sherman
                span#i1800
                    if people["1800 Consultant"].length === 0
                        | -
                    else
                        for person in people["1800 Consultant"]
                            = person
                            br
            .r
                | Library
                span#library
                    if people["Library Consultant"].length === 0
                        | -
                    else
                        for person in people["Library Consultant"]
                            = person
                            br
