doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, inital-scale=1")
    title Token Success
  body
    form(method="POST")
      input(type="text" name="code" placeholder="Code")
      br
      input(type="submit" value="Submit")