html, body {
  height: 11in;
  width: 8.5in;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0.1in;
  font-family: "Akkurat Pro Regular", sans-serif;
  position: relative;
}

body > header {
  background-color: #4e2a84;
  box-shadow: 0 2px 2px 0 #888;
  height: 1in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.1in;
  left: 0.1in;
  right: 0.1in;
}

body > footer {
  background-color: #4e2a84;
  box-shadow: 0 -2px 2px 0 #888;
  color: #fff;
  padding: 0.1in;
  position: absolute;
  bottom: 0.1in;
  right: 0.1in;
  left: 0.1in;
  height: 1in;
}

body > footer > table {
  color: inherit;
  width: 80%;
  margin: auto;
}

body > footer > table td {
  padding: 3px;
}

body > main {
  position: absolute;
  top: 1.2in;
  left: 0.1in;
  right: 0.1in;
}

body > main > h1 {
  margin-top: 0;
  margin-bottom: 0.1in;
}

body > main > h1 + p {
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

body > header > img {
  height: 50px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Campton Book', sans-serif;
  font-weight: normal;
  color: #4E2A84;
}

.center {
  text-align: center;
}

section#numbers {
  column-count: 2;
  column-gap: 0;
  column-fill: auto;
  height: 728px;
  overflow-y: hidden;
  overflow-x: hidden;
}

section#numbers > table {
  width: 100%;
  border-collapse: collapse;
}

section#numbers > table tr {
  height: 26px;
}

section#numbers > table tr > td {
  padding: 5px;
}

section#numbers > table tr:nth-child(even) > td {
  background-color: #B6ACD1;
}