.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff #fff #fff transparent;
  animation: lds-dual-ring 0.8s linear infinite;
}

#ticket_info {
  z-index: 2;
}

video#background-fire, video#background-nuke, video#background-nova, video#background-hole, video#background-confetti {
  position: absolute;
  z-index: -1;
  transition: opacity 1.5s ease-in;
  opacity: 0.0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  outline: none;
}

video#background-nuke, video#background-nova, video#background-hole, video#background-confetti {
  filter: brightness(0.8);
}

video#background-fire {
  filter: brightness(0.3);
}

video#background-fire.active, video#background-nuke.active, video#background-nova.active, video#background-hole.active, video#background-confetti.active {
  opacity: 1.0;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  transition: background-color 0.5s;
}