div.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.profile-header > div.profile-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

div.profile-header > div.profile-header-text > span {
    text-align: inherit;
    margin: 0;
    line-height: 1.3em;
}

div.profile-header > div.profile-header-text > span.profile-header-name {
    font-weight: bold;
    font-size: 1.45em;
}

div.profile-header > div.profile-header-text span.profile-header-pronouns {
    font-weight: normal;
    font-style: italic;
    font-size: 0.65em;
    margin-left: 7px;
}

div.profile-header-text span.profile-header-pronouns::before {
    content: '(';
}

div.profile-header-text span.profile-header-pronouns::after {
    content: ')';
}

div.profile-header > div.profile-header-text > span.profile-header-position {
    font-style: italic;
    font-size: 1.15em;
    margin-bottom: 1em;
}

div.profile-header > div.profile-header-text > span.profile-header-num-tickets {
    font-style: italic;
    margin-bottom: 1em;
}

div.profile-header > div.profile-header-text > span.profile-header-birthday > span.fas {
    margin-right: 7px;
}

div.profile-header img {
    height: 225px;
    border: 5px solid #333;
}

div.profile-row {
    display: flex;
}

div.profile-row > section {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

div.contact-record {
    margin-bottom: 8px;
}

div.contact-record > span.fas, div.contact-record > span.far {
    margin-right: 7px;
}

#num_tickets > .lds-dual-ring {
    height: 1em;
    width: 1em;
}

#num_tickets > .lds-dual-ring::after {
    height: 12px;
    width: 12px;
    border-width: 1px;
    margin: 0;
    border-color: #4e2a84 #4e2a84 #4e2a84 transparent;
}
